{% extends 'layout_admin.html' %}

{% block konten %}
    <div class="container">
        <h1 class="input">INPUT DATA SISWA</h1>
        <form action="/simpan" method="post" >
            <input type="text" name="nama" placeholder="Nama peminjam" ><br>
            <input type="number" name="kelas" min="10" max="12" placeholder="Kelas" ><br>
            <textarea name="buku" placeholder="Nama buku yang dipinjam" ></textarea><br>
            <p>Tanggal Peminjaman :</p><br>
            <input type="text" name="tanggal_peminjaman" placeholder="dd/mm/yyyy"><br>
            <p>Tanggal Pengembalian :</p><br>
            <input type="text" name="tanggal_pengembalian" placeholder="dd/mm/yyyy"><br>
            <button type="submit">KIRIM</button>
        </form>
    </div>
    
{% endblock %}